# Project: Data Analyst Jobs
The goal of this project is to put some of the skills (Python, SQL, Webscraping) I have learnt to use and comb out more details about the 'Data Analytics' field of Data.

This Project is divided into two parts; **Web Scraping in Python** and **Exploration/Cleaning in SQL**. However, I added a last one to it... **A WordCloud Viz**

## Introduction
In this part of this project, I scraped a job posting portal, [ai-jobs.net](https://ai-jobs.net) for ** Data Analyst jobs**. I did this with the BeautifulSoup web scraping tool and Python Programming Language. The following are the scraped details:
* Job Ttile - The name of the available job
* Company Name - The name of the company with the job vacancy
* Location - It contains the Physical Location of the company and if the job is remote
* Level - It's the Job level, if it is a junior, mid or senior role
* Job Type - Is the job a full-time or internship role
* Salary Range - The pay range (some columns are in yearly range, while some are in hourly range)
* Required Skills - Necessary skills an applicant must have before applying
* Benefits - The benefits that comes with the job

In [1]:
#import needed libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import urllib.parse

In [2]:
#store website into a variable
website = 'https://ai-jobs.net/analyst-jobs/'

In [3]:
#make request to the website specified above
response = requests.get(website)

In [4]:
#confirm if the request made was successful
response.status_code

200

In [5]:
#create a soup object to get access to the html content of the website
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
soup

In [6]:
#start to store the website content in a variable 
results = soup.find('div', {'class':'list-group list-group-flush mb-5'}).find_all('a', {'class':'col list-group-item-action p-2'})

In [7]:
len(results)

90

In [9]:
#all the content that are needed are stored in the variable created as a list 
results[0]

#### Job Title

In [8]:
#pulling out content from each index of the list 
results[0].find('h3', {'class':'h5 mb-1'}).get_text()

'Business Intelligence Analyst'

#### Company

In [9]:
results[0].find('p', {'class':'m-0 text-muted job-list-item-company'}).get_text()

'Amica Mutual Insurance Company'

#### Location

In [10]:
results[0].find('span', {'class':'d-none d-md-block text-break job-list-item-location'}).get_text()

'Lincoln, RI, 02865'

#### Level

In [11]:
results[0].find('span', {'class':'badge badge-info badge-pill my-md-1 d-none d-md-inline-block'}).get_text()

'Mid-level'

#### Job Type

In [12]:
results[0].find('span', {'class':'badge badge-secondary badge-pill my-md-1'}).get_text()

'Full Time'

#### Salary range

In [13]:
results[4].find('span', {'class':'badge badge-success badge-pill d-none d-md-inline-block'}).get_text()

'USD 50K - 85K *'

#### Skills

In [14]:
[x.get_text() for x in results[0].find_all('span', 'badge badge-light badge-pill')]

['Business Intelligence',
 'PowerBI',
 'Python',
 'R',
 'SAS',
 'SQL',
 'Tableau',
 'Testing']

#### Benefits

In [15]:
[i.get_text() for i in results[0].find_all('span', 'badge badge-success badge-pill')]

['Competitive pay',
 'Conferences',
 'Fitness / gym',
 'Health care',
 'Insurance',
 '+3']

In [21]:
#create an empty list
Job_title = []
Company = []
Location = []
Level = []
Job_type = []
Salary = []
Skill = []
Benefit = []

#Create a for loop that will loop through the rows and append the data extracted to the list created
for result in results:
    try:
        Job_title.append(result.find('h3', {'class':'h5 mb-1'}).get_text()) 
    except:
        Job_title.append('n/a')
        
    try:
        Company.append(result.find('p', {'class':'m-0 text-muted job-list-item-company'}).get_text()) 
    except:
        Company.append('n/a')
        
    try:
        Location.append(result.find('span', {'class':'d-none d-md-block text-break job-list-item-location'}).get_text()) 
    except:
        Location.append('n/a')
        
    try:
        Level.append(result.find('span', {'class':'badge badge-info badge-pill my-md-1 d-none d-md-inline-block'}).get_text()) 
    except:
        Level.append('n/a')
        
    try:
        Job_type.append(result.find('span', {'class':'badge badge-secondary badge-pill my-md-1'}).get_text()) 
    except:
        Job_type.append('n/a')
    
    try:
        Salary.append(result.find('span', {'class':'badge badge-success badge-pill d-none d-md-inline-block'}).get_text()) 
    except:
        Salary.append('n/a')
    
    try:
        Skill.append([x.get_text() for x in result.find_all('span', 'badge badge-light badge-pill')])
    except:
        Skill.append('n/a')
    
    try:
        Benefit.append([x.get_text() for x in result.find_all('span', 'badge badge-success badge-pill')])
    except:
        Benefit.append('n/a')

In [22]:
Salary

['n/a',
 'n/a',
 'n/a',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'n/a',
 'USD 50K - 85K *',
 'USD 30K - 80K *',
 'USD 50K - 85K *',
 'USD 30K - 80K *',
 'n/a',
 'USD 51K - 90K *',
 'USD 50K - 85K *',
 'n/a',
 'n/a',
 'USD 30K - 80K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 68K - 135K *',
 'USD 51K - 90K *',
 'n/a',
 'USD 76K - 150K *',
 'USD 68K - 135K *',
 'USD 50K - 85K *',
 'USD 36K - 100K *',
 'n/a',
 'n/a',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'n/a',
 'n/a',
 'USD 50K - 85K *',
 'USD 51K - 90K *',
 'USD 51K - 90K *',
 'USD 50K - 85K *',
 'n/a',
 'n/a',
 'USD 68K - 135K *',
 'n/a',
 'n/a',
 'USD 68K - 135K *',
 'USD 51K - 90K *',
 'USD 50K - 85K *',
 'n/a',
 'USD 50K - 85K *',
 'n/a',
 'USD 51K - 90K *',
 'n/a',
 'n/a',
 'n/a',
 'USD 68K - 135K *',
 'n/a',
 'USD 68K - 135K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 51K - 90K *',
 'USD 113K - 144K',
 'USD 30K - 80K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 54K - 200K',
 'USD 50K - 85K *',
 'n/a',
 'n/a',
 'USD 51K - 90K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'n/a',
 'USD 50K - 85K *',
 'n/a',
 'n/a',
 'n/a',
 'n/a',
 'USD 50K - 85K *',
 'USD 68K - 135K *',
 'n/a',
 'USD 51K - 90K *',
 'USD 51K - 90K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'n/a',
 'n/a',
 'USD 50K - 85K *',
 'USD 50K - 85K *',
 'USD 50K - 85K *']

In [25]:
#give column header names to each columns
analysts = pd.DataFrame({'Job Title': Job_title, 'Company': Company, 'Location': Location, 'Level': Level,
                        'Job Type': Job_type, 'Salary Range': Salary, 'Required Skills': Skill, 'Benefits': Benefit})

In [26]:
analysts.head()

,Job Title,Company,Location,Level,Job Type,Salary Range,Required Skills,Benefits
0,Business Intelligence Analyst,Amica Mutual Insurance Company,"Lincoln, RI, 02865",Mid-level,Full Time,n/a,"[Business Intelligence, PowerBI, Python, R, SA...","[Competitive pay, Conferences, Fitness / gym, ..."
1,Lead Business Intelligence Analyst,Amica Mutual Insurance Company,"Lincoln, RI, 02865",Senior-level,Full Time,n/a,"[Business Intelligence, KPIs, Python, R, SAS, ...","[Competitive pay, Conferences, Fitness / gym, ..."
2,Sênior Data Analyst,Sinch,"São Paulo, State of São Paulo, Brazil …",Senior-level,Full Time,USD 50K - 85K *,"[Big Data, Data pipelines, PowerBI, Python, SQ...",[]
3,Data Analyst (Risk),Octopus Energy,"London, UK",Senior-level,Full Time,USD 50K - 85K *,"[Finance, Python, SQL]","[Career development, Salary bonus, Team events]"
4,"Principal Data Scientist, Customer Analytics",Atlassian,"Mountain View, United States",Senior-level,Full Time,USD 68K - 135K *,"[Machine Learning, Python, R, SQL]","[Career development, Health care, Startup envi..."

In [28]:
#export the dataframe to excel
analysts.to_excel('analyst.xlsx', index=False)

C:\Users\Adekunle\AppData\Roaming\Python\Python36\site-packages\pandas\compat\_optional.py:124: UserWarning: Pandas requires version '0.9.8' or newer of 'xlsxwriter' (version '0.9.6' currently installed).
  warnings.warn(msg, UserWarning)

In [27]:
analysts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        90 non-null     object
 1   Company          90 non-null     object
 2   Location         90 non-null     object
 3   Level            90 non-null     object
 4   Job Type         90 non-null     object
 5   Salary Range     90 non-null     object
 6   Required Skills  90 non-null     object
 7   Benefits         90 non-null     object
dtypes: object(8)
memory usage: 5.8+ KB